.formaPretrazi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 20px 0px;
  margin-top: 16px;
  padding-left: 4px;
  padding-right: 248px;
  border-radius: 6px;
  text-align: left;
  border: none;
  font-size: 16px;
}

input:first-child {
  margin-top: 0;
}

input#prijavaIRegistracijaKorisnika {
  margin-top: 16px;
  margin-right: 0;
  text-align: center;
  padding: 20px 16px;
  background-color: #1971c2;
}

input#prijavaIRegistracijaKorisnika:hover {
  cursor: pointer;
}

body {
  margin-bottom: 16px;
}

h1 {
  border-bottom: 2px solid #1971c2;
}

#checkbox {
  margin-top: 16px;
  display: grid;
  color: #ccc;
  grid-template-columns: repeat(2, 1fr);
  font-size: 20px;
  align-items: center;
}

#checkbox > label {
  order: 1;
}

#checkbox > input {
  order: 2;
  width: 16px;
  height: 16px;
}

#tijeloPrijave {
  margin-top: 192px;
}
