/*
  veliÄine fontova: 
    3.815rem/61.04px
    3.052rem/48.83px
    2.441rem/39.06px
    1.953rem/31.25px
    1.563rem/25.00px
    1.25rem/20.00px
    1rem/16.00px
    0.8rem/12.80px
    0.64rem/10.24px
    0.512rem/8.19px
*/

/* 
  boje: 
    #339af0
    #1971c2
    #a5d8ff
    #cccccc
    #b3b3b3
*/

/*
- Razmak (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin-top: 96px;
  background-color: #1e2022;
}

#navigacija {
  background-color: #1e2022;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
#navigacija > a:last-child {
  background-color: #1971c2;
}

#navigacija > a:last-child:hover {
  color: black;
}

a {
  text-decoration: none;
  padding: 12px 12px;
}

a:link,
a:active,
a:visited {
  color: #b3b3b3;
}

a:hover {
  color: #1971c2;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid #1971c2;
}

h1 {
  text-align: center;
  font-size: 48.83px;
  margin-bottom: 32px;
  font-weight: 500;
  color: #b3b3b3;
}

#navigacija {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

input:focus,
a:focus {
  border-bottom: 2px solid #1971c2;
}

input[type="text"]:focus {
  border: none;
  background-color: white;
}

input[type="submit"] {
  border: none;
  color: #ccc;
}

input:hover {
  cursor: pointer;
}

input {
  background-color: #cccccc;
}

#trenutni {
  padding: 12px 12px;
  border-bottom: 2px solid #1971c2;
  color: #1971c2;
}

#trenutniRegistracija {
  border: none;
}