/*
- Razmak (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 
  boje: 
    #339af0
    #1971c2
    #a5d8ff
    #4dabf7
*/

.formaPretrazi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 20px 0px;
  margin-right: 8px;
  padding-left: 4px;
  padding-right: 248px;
  border-radius: 6px;
  text-align: left;
  border: none;
  font-size: 20px;
}

input#pretraziVozila {
  margin-right: 0;
  text-align: center;
  padding: 20px 16px;
  background-color: #1971c2;
}
